:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --yellow: #FFC725;
    --orange: #F37335;

    --dark: #443737;
    --light: #FFFFFF;
    --light-rgb: 255, 255, 255;
}

body {
    font-family: var(--open-sans);
}

a {
    text-decoration: none;
}

/* header */

.header {
    border-bottom: 1px solid #DEDEDE;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 196px;
    padding: 26px 0;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../img/Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
    margin-top: 2px;
}

.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
}

.nav-link:hover::after {
    background: var(--yellow);
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 15px;
    color: var(--dark);
    font-weight: bold;
}

.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background: url(../img/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    position: absolute;
    bottom: 0;
    left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    color: var(--light);
    font-size: 10px;
}

/* hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 142px 0;
}

.container {}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    gap: 16px;
    padding: 0;
    color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-item {
    position: relative;
    font-size: 15px;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -10px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link:hover {
    color: var(--yellow);
}

.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 18px;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    font-size: 15px;
    color: rgba(var(--light-rgb), 0.8);
    text-align: center;
    line-height: 160%;
}

/* banner */

.banner {
    margin-top: 140px;
}

.container {}

.banner-wrapper {
    padding: 100px 0 100px 100px;
    background: url(../img/banner..jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-family: var(--nunito-sans);
    color: var(--light);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 15px;
}

.banner-title span {
    display: block;
    font-family: var(--open-sans);
    font-weight: 600;
    color: var(--light);
    background: var(--orange);
    width: 95px;
    text-align: center;
    border-radius: 14px;
    padding: 7px 0;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.banner-description {
    font-size: 15px;
    color: rgba(var(--light-rgb), 0.8);
    max-width: 353px;
    margin-bottom: 15px;
    line-height: 146%;
}

.banner-btn {
    font-family: var(--nunito-sans);
    background: var(--yellow);
    font-weight: 700;
    font-size: 14px;
    padding: 21px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--dark);
    border: none;
}

/* menu */

.menu {
    margin-top: 104px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

select {
    width: 279px;
    height: 44px;
    border-radius: 22px;
    padding: 10px 30px;
    appearance: none;
    background: url(../img/chevron-down.svg) no-repeat right;
    background-position-x: calc(100% - 28px);
    background-position-y: calc(100% - 15px);
}

.menu-title {
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
    margin: 0;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}

.menu-item {}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.menu-name {
    text-align: center;
    font-family: var(--nunito-sans);
    font-size: 29px;
    color: var(--dark);
    margin: 23px 0 7px;
}

.menu-price {
    text-align: center;
    font-family: var(--nunito-sans);
    color: rgba(68, 55, 55, 0.5);
    margin-bottom: 22px;
    font-size: 22px;
}

.menu-btn {
    display: block;
    font-family: var(--nunito-sans);
    background: var(--yellow);
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    font-size: 14px;
    padding: 0 10px 0 0;
}

.menu-btn span::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}